
body {
    background: #28305a;
    height: 100vh;
    margin: 0 20px;
}


.pie {
    -webkit-tap-highlight-color: transparent;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 400px;
    left: -200px;
    position: absolute;
    top: -200px;
    width: 400px;
    transform: translateX(-200px) translateY(-200px);
    transition: transform 300ms;
}
.pie-color:hover {
    opacity: 0.85;
}
.pie-color:active {
    opacity: 0.7;
}
.pie1 {
    clip-path: polygon(200px 200px, 0 450px, 750px 150px);
    transition-delay: 150ms;
}
.pie2 {
    clip-path: polygon(200px 200px, 0 600px, 750px 500px);
    transition-delay: 120ms;
}
.pie3 {
    clip-path: polygon(200px 200px, 425px 750px, -350px 250px);
    transition-delay: 90ms;
}
.pie4 {
    clip-path: polygon(200px 200px, 0 650px, -450px 150px);
    transition-delay: 60ms;
}
.pie5 {
    clip-path: polygon(200px 200px, 0 300px, -750px 150px);
    transition-delay: 30ms;
}
.pie-color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.pie-color1 {
    background: linear-gradient(135deg, #f12711, #f5af19);
    clip-path: polygon(200px 200px, 0 450px, 750px 150px);
}
.pie-color2 {
    background: linear-gradient(135deg, #444, #7e84f9);
    clip-path: polygon(200px 200px, 0 600px, 750px 500px);
}
.pie-color3 {
    background: linear-gradient(135deg, #444, #b7e13f);
    clip-path: polygon(200px 200px, 344px 450px, 0 450px);
}
.pie-color4 {
    background: linear-gradient(135deg, #444, #be3fe1);
    clip-path: polygon(200px 200px, 0px 750px, -450px 450px);
}
.pie-color5 {
    background: linear-gradient(135deg, #444, #3fe178);
    clip-path: polygon(200px 200px, 0 325px, -450px 150px);
}

.menu {
    -webkit-tap-highlight-color: transparent;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 200px;
    left: -100px;
    position: absolute;
    top: -100px;
    width: 200px;
}
.hamburger {
    cursor: pointer;
    height: 46px;
    left: 58%;
    position: relative;
    top: 58%;
    width: 46px;
}

.hamburger path {
    transition: transform 300ms;
}
.hamburger path:nth-child(1) {
    transform-origin: 25% 29%;
}
.hamburger path:nth-child(2) {
    transform-origin: 50% 50%;
}
.hamburger path:nth-child(3) {
    transform-origin: 75% 72%;
}
.hamburger path:nth-child(4) {
    transform-origin: 75% 29%;
}
.hamburger path:nth-child(5) {
    transform-origin: 25% 72%;
}
.active .pie {
    transform: translateX(0) translateY(0);
}
.active .hamburger path:nth-child(1) {
    transform: rotate(45deg);
}
.active .hamburger path:nth-child(2) {
    transform: scaleX(0);
}
.active .hamburger path:nth-child(3) {
    transform: rotate(45deg);
}
.active .hamburger path:nth-child(4) {
    transform: rotate(-45deg);
}
.active .hamburger path:nth-child(5) {
    transform: rotate(-45deg);
}

.img3 {
    position: absolute;
    height : 80px;
    width : 80px;
    padding: 5px;
    margin : 300px 0 0 190px;
}



